nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 8%);
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin: 0em 1em;
}

nav a {
    text-decoration: none;
    color: var(--primary-color-hover);
    font-size: var(--subtitle-font-size);
    font-family: var(--title-text-font);
    font-weight: 600;
}

nav a:hover {
    color: var(--primary-color);
}

nav a:hover, .acess_button, nav img:hover  {
    transform: scale(1.02);
    cursor: pointer;
}

nav img {
    max-width: 5em;
    max-height: 5em;
}

.acess_button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 0.5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    font-size: 0.9em;
    font-family: var(--title-text-font);
    font-weight: 600;
}