nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin: 0em 1em;
}

nav a {
    text-decoration: none;
    color: var(--primary-color-hover);
    font-size: var(--subtitle-font-size);
    font-family: var(--title-text-font);
    font-weight: 600;
}

nav a:hover {
    color: var(--primary-color);
    transform: scale(1.02);
}

nav img {
    max-width: 5em;
    max-height: 5em;
}