/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Tillana:wght@400;600&display=swap');
:root {
  --header-height: 4.5em;
  --nav-width: 12.5em;
  /* colors */
  --primary-color: #ffbc0d;
  --primary-color-hover: #292929;
  --first-color: #FFF;
  --first-color-light: #6f6f6f;
  --hue-color: #363636;
  --light-color: #606060;
  /* tipografia */
  --title-text-font: 'Tillana', sans-serif;
  --subtitle-text-font: 'Tillana', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --title-font-size: 1.75em;
  --subtitle-font-size: 1.12rem;
  --small-font-size: 1em;
  --big-font-size: 4em;
  --line-height: 1.5em;
  /* font  wight*/
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 900;
  --font-normal: 400;
  /* z index*/
  --z-fixed: 1;
}

html {
  scroll-behavior: smooth;
}

/* base */
*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

main {
  padding: 2em 0em;
}

body {
  font-family: var(--body-font);
}